{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block title %} Đặt hàng {% endblock title %} 
{% block content %}
<div class="row my-3">
  <div class="col-md-6 col-12 mb-3">
    <div class="card">
      <h3 class="display-4 mt-4 text-center">HÓA ĐƠN</h3>
      <div class="card-body">
        {% for i in summary %}
        <p class="card-text d-flex justify-content-between mb-2">
          <span class="d-block"> {{i.quantity}} x {{i.product.name}} </span>
          <span class="d-block">Tổng - {{i.total}}</span>
        </p>
        {% empty %}
        <h5 class="card-text font-weight-light">Không có mặt hàng nào trong giỏ hàng.</h5>
        {% endfor %}
        <h4 class="card-text text-right">
          <span class="badge badge-primary" style="background-color: #1B9CE5;">
            Tổng - <b>{{cart.get_total_price}} $</b>
          </span>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12">
    <div class="card card-body">
      <h3 class="mb-3 text-center">Chi tiết vận chuyển</h3>
      <form method="POST">
        {% csrf_token %}  {{form|crispy}} {% if cart.empty %}
        <div class="alert alert-danger my-2">Giỏ hàng của bạn đang trống.</div>
        <button disabled class="btn btn-success ">Đặt hàng</button>
        {% else %}
        <button type="submit" class="btn btn-default " style="background-color: #F79E02;">Đặt hàng</button>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock content %}
